includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/xefi/phpstan-xefi-rules/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app/
        - routes/
        - packages/
    level: 7
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - app/Providers/TenancyServiceProvider.php
        - app/Filament
        - packages/file-or-folder-management/tests
        - packages/auth-management/tests
        - packages/upload-management/tests
        - packages/download-management/tests
        - packages/gateway-management/tests
    ignoreErrors:
         - '#PHPDoc tag @mixin contains unknown class App\\Models\\IdeHelperUser#'
         - '#uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory#'
         - '#@mixin contains unknown class App\\Models\\IdeHelperDomain#'
         - '#@mixin contains unknown class App\\Models\\IdeHelperTenant#'
         - '#@mixin contains unknown class App\\Models\\IdeHelperClient#'
         - '#@mixin contains unknown class App\\Models\\IdeHelperTheme#'
         - '#@mixin contains unknown class App\\Models\\IdeHelperGroup#'
         - '#@mixin contains unknown class App\\Models\\IdeHelperFileOrFolder#'
         - '#@mixin contains unknown class App\\Models\\IdeHelperHistory#'
         - '#@mixin contains unknown class App\\Models\\IdeHelperLink#'
         - '#@mixin contains unknown class App\\Models\\IdeHelperContact#'
         - '#^Access to an undefined property App\\Models\\User\:\:\$used_storage\.$#'
